//Colores
$cyan-600: #4d96a9
$cyan-300: #8fe3f9
$purple-600: #855fb1
$purple-300: #d9b8ff
$slate-900: #28283d
$slate-600: #87879d
$slate-300: #d1d1df
$white: #fafafa

//Sapcing
$S1400: 112px
$S1000: 80px
$S900: 72px
$S800: 64px
$S700: 56px
$S500: 40px
$S400: 32px
$S300: 24px
$S200: 16px
$S100: 80px
$S50: 4px
