.button
    border-radius: 29px
    padding: 1.6rem 4rem
    border: none
    cursor: pointer
    width: fit-content
    &__text
        color: $white
    &_flex
        flex-shrink: 0
        width: 193px
        height: 56px
        padding: 0
    &_blue
        background: $cyan-600
        & span
            color: $cyan-300
        &:hover
            background: #71c0d4
    &_purple
        background: $purple-600
        & span
            color: $purple-300
        &:hover
            background: #b18bdd
